{% extends 'registration/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Registration is closed' %}{% endblock %}

{% block content_title %}<h1>{% trans 'Registration is closed' %}</h1>{% endblock %}

{% block content %}
{{ block.super }}
<p>{% trans 'I am afraid that registration is currently closed.' %}</p>
{% endblock %}
