{% extends 'registration/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}
{{ block.super }}
<p>{% trans 'Please fill the following fields to proceed with the registration.' %}</p>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="{% trans 'Register' %}"></p>
</form>
{% endblock %}
