<!DOCTYPE html>
{% load staticfiles compress i18n statici18n %}

<html>

    {% block head %}
    <head>
        <meta charset="utf-8"/>

        <title>{% block title %}{% trans "CITIUS Job Queues" %}{% endblock title %}</title>

        {% block metadata %}
        <meta name="description"
              content="{% block meta_description %}
                       {% blocktrans %}
                           Management of CITIUS's cluster job queues
                       {% endblocktrans %}
                       {% endblock meta_description %}"/>
        <meta name="keywords"
              content="{% block meta_keywords %}
                       {% blocktrans %}
                           CITIUS, USC, Unique, Research, Center, Information,
                           Technologies, University, Santiago de Compostela, Cluster,
                           Management, Job, Queue
                       {% endblocktrans %}
                       {% endblock meta_keywords %}"/>
        <meta name="author" content="Adrián López Calvo"/>
        {% endblock metadata %}

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'css/lib/jquery-ui/ui-lightness/jquery-ui.css' %}" charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'css/lib/select2/select2.css' %}" charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" charset="utf-8"/>
        {% endcompress %}

        {% block extra_css %}{% endblock extra_css %}
        {% block head_js %}{% endblock head_js %}

        {% block extra_head %}{% endblock extra_head %}
    </head>
    {% endblock head %}

    {% block body %}

    <body>
        {% block container %}
        <div class="container">

            {% block header %}
            <header>
                <a href="/">
                    <img src="{% static 'images/logo.png'%}" alt="{% trans 'CITIUS Job Queues' %}"/>
                </a>
                <div id="user-panel" class="header-section">
                {% if user.is_active %}
                    <span>
                        {% trans "Logged in as" %}&nbsp;
                        <b>{% firstof user.get_short_name user.get_username %}</b>
                    </span>
                    {% block account_options %}
                    <ul id="account-options" class="horizontal mini-list">
                        {% if user.has_usable_password %}
                        <li><a href="{% url 'account_settings' %}">{% trans "Account settings" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">{% trans "Log out" %}</a></li>
                    </ul>
                    {% endblock account_options %}
                {% else %}
                    <span>{% trans "Anonymous user" %}</span>
                    <ul id="account-options" class="horizontal mini-list">
                        <li><a href="{% url 'login' %}{% block login_args %}?next={{ request.path }}{% endblock  %}">
                                {% trans "Log in" %}
                        </a></li>
                        <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
                    </ul>
                {% endif %}
                </div>
            </header>
            {% endblock header %}

            {% block navigation %}
            <nav class="horizontal bar">
                <div class="nav-section">
                    <a href="{% url 'list_jobs' %}">{% trans "Executions" %}</a>
                    <a href="{% url 'list_job_descriptions' %}">{% trans "Jobs" %}</a>
                    <a href="{% url 'list_job_services' %}">{% trans "Services" %}</a>
                    <a href="{% url 'list_ssh_contexts' %}">{% trans "SSH Credentials" %}</a>
                </div>
            </nav>
            {% endblock navigation %}

            {% block breadcumbs %}
            {% endblock breadcumbs %}

            {% block messages %}
            {% include "messages.html" %}
            {% endblock messages %}

            <div id="main" class="main-block">
            {% block main %}

            <h1 class="smaller tight">{% block content_title %}{% endblock content_title %}</h1>
            <div class="content-wrapper">

                {% block content_nav %}
                {% endblock content_nav %}

                <div id="content">
                {% block content %}
                {% endblock content %}
                </div>

            </div>
            {% endblock main %}
            </div>

            {% block footer %}
            <footer class="horizontal bar">
                <p>Copyright &copy; 2013 - Adrián López Calvo</p>
                <p><a href="{% url 'sitemap' %}">{% trans "Sitemap" %}</a></p>
            </footer>
            {% endblock footer %}

        </div>
        {% endblock container %}

        {% block bottom_js %}
            {% compress js %}
            <script src="{% statici18n LANGUAGE_CODE %}" charset="utf-8"></script>
            {% endcompress %}
            {% compress js %}
            <script src="{% static 'js/lib/jquery.js' %}" charset="utf-8"></script>
            <script src="{% static 'js/lib/sugar.js' %}" charset="utf-8"></script>
            <script src="{% static 'js/lib/jquery-ui.js' %}" charset="utf-8"></script>
            <script src="{% static 'js/lib/jquery.autosize.js' %}" charset="utf-8"></script>
            <script src="{% static 'js/lib/select2.js' %}" charset="utf-8"></script>
            <script src="{% static 'js/lib/select2.locale.js' %}" charset="utf-8"></script>
            <script src="{% static 'js/ui/ui.js' %}" charset="utf-8"></script>
            {% endcompress %}
        {% endblock bottom_js %}
    </body>
    {% endblock body %}

</html>