
{{ formset.management_form.as_p }}
{{ formset.non_form_errors }}
<div id="{{ formset.prefix }}-form-template" style="display: none;">
    {% include "form.html" with form=formset.empty_form %}
</div>
{% for form in formset %}
    <div class="{{ formset.prefix }}-form">{% include "form.html" %}</div>
{% empty %}
    <div class="{{ formset.prefix }}-form"></div>
{% endfor %}
