{% if form.non_field_errors %}
    <ul class="{{ form.error_css_class|default:'errorlist' }} ui-state-highlight">
        {% for error in form.non_field_errors %}
            <li class="ui-state-highlight">
                <span class="ui-icon ui-icon-alert"></span>{{ error }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
    <div class="form-field indent">
        <div class="{% if field.field.required %}
                        {{ form.required_css_class|default:'required' }}
                    {% endif %}
                    form-field-elements">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <span class="helptext">{{ field.help_text|safe }}</span>
            {% endif %}
        </div>
        {% if field.errors %}
        <ul class="{{ form.error_css_class|default:'errorlist' }}
                   form-field.errors ui-state-highlight">
            {% for error in field.errors %}
                <li class="ui-state-highlight">
                    <span class="ui-icon ui-icon-alert"></span>{{ error }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endfor %}
