{% if messages %}
{% regroup messages by tags as messages %}
<div id="messages">
{% for tags in messages %}
<ul class="{{ tags.grouper }} messagelist ui-corner-all closable
            {% if tags.list|length_is:'1' %}single{% endif %}">
    {% for message in tags.list %}
        <li>{{ message|capfirst }}</li>
    {% endfor %}
</ul>
{% endfor %}
</div>
{% endif %}
