{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

<p><b>{{ jobservice }}</b></p>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>
        <p><button type="submit">{% trans "Save" %}</button></p>
        <a href="{% url 'delete_job_service' jobservice.pk %}">{% trans "Delete" %}</a>
    </p>
</form>

{% endblock content %}
