{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

<p>{% trans "Please, confirm deletion of job service" %}&nbsp;&nbsp;<b>{{ jobservice }}</b>.<p>
<form action="" method="post">{% csrf_token %}
   <p><button type="submit">{% trans "Confirm" %}</button></p>
</form>

{% endblock content %}
