{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

{% if jobservice_list %}
<ul>
{% for jobservice in jobservice_list %}
    <li>
        <span {% if not jobservice.works %} style="color: red;" {% endif %}>{{ jobservice }}</span>
        <a href="{% url 'update_job_service' jobservice.pk %}">{% trans "Edit" %}</a>
        <a href="{% url 'delete_job_service' jobservice.pk %}">{% trans "Delete" %}</a>
    </li>
{% endfor %}
</ul>
<p>* {% trans "Faulty job services." %}</p>
{% else %}
<p>{% trans "None yet." %}</p>
{% endif %}

{% endblock content %}
