{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

<p>
{% blocktrans %}
Testing the job service <b>{{ jobservice }}</b>.
{% endblocktrans %}<br>
{% trans "This should take only a few seconds." %}
</p>

<p><a href=""><button type="button">{% trans "Refresh" %}</button></a></p>

{% endblock content %}
