{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

<form action="" method="post">{% csrf_token %}
   {{ form.as_p }}
   <p><button type="submit">{% trans "Create" %}</button></p>
</form>

{% endblock content %}
