{% extends "admin/change_form.html" %}

{% load i18n %}

{% block content_title %}
<h1>
{% blocktrans with original.user as user %}
Inspect the registration of {{ user }}
{% endblocktrans %}
</h1>
{% endblock %}

{% block content %}
<p>{% blocktrans %}Please select an action and click the Save button on bottom.{% endblocktrans %}</p>
{{ block.super }}
{% endblock %}
