{% extends "saga_django/contexts/sshcontext_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Deleting credential" %}</h3>

<p>
{% blocktrans %}
    Please, confirm deletion of SSH credential <b>{{ sshcontext }}</b>.
{% endblocktrans %}
</p>
<form action="" method="post">{% csrf_token %}
   <button type="submit" class="indent">{% trans "Confirm" %}</button>
</form>

{% endblock content %}
