{% extends "saga_django/contexts/sshcontext_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Details" %}</h3>

<p><b>{% trans "Alias:" %}</b> {{ sshcontext.alias }}</p>
<p><b>{% trans "User ID:" %}</b> {{ sshcontext.user_id }}</p>
<p class="wrap"><b>{% trans "Public key:" %}</b><br/> {{ sshcontext.public_key }}</p>
<p><b>{% trans "Fingerprint:" %}</b> {{ sshcontext.fingerprint }}</p>

<p class="ui-state-highlight">
{% blocktrans %}
In order to grant access to this site, you must select and copy the public key. <br/>
Then, start a session in the remote machine and append the key to the authorized keys file, usually
located at <b>~/.ssh/authorized_keys</b>.
{% endblocktrans %}
</p>

<p>
    <a href="{% url 'delete_ssh_context' sshcontext.pk %}">
        <button type="button">{% trans "Delete" %}</button>
    </a>
    <a href="{% url 'update_ssh_context' sshcontext.pk %}">
        <button type="button">{% trans "Edit" %}</button>
    </a>
</p>

{% endblock content %}
