{% extends "saga_django/contexts/sshcontext_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "New credential" %}</h3>

<form action="" method="post">{% csrf_token %}
   {% include "form.html" %}
   <p><button type="submit">{% trans "Create" %}</button></p>
</form>

{% endblock content %}
