{% extends "saga_django/contexts/sshcontext_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Credential list:" %}</h3>

{# TODO: Add Key explanation, security, instructions... #}

{% if sshcontext_list %}
<ul class="boxed-list">
{% for sshcontext in sshcontext_list %}
    <li>
        <a href="{{ sshcontext.get_absolute_url }}" title="{% trans 'Detail' %}">{{ sshcontext }}</a>
        <a href="{% url 'delete_ssh_context' sshcontext.pk %}" title="{% trans 'Delete' %}">
            <span class="ui-icon ui-icon-trash right"></span>
        </a>
        <a href="{% url 'update_ssh_context' sshcontext.pk %}" title="{% trans 'Edit' %}">
            <span class="ui-icon ui-icon-pencil right"></span>
        </a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>{% trans "No credentials created yet." %}</p>
{% endif %}
<p><a href="{% url 'create_ssh_context' %}"><button type="button">{% trans "Add new" %}</button></a></p>

{% endblock content %}
