{% extends "saga_django/contexts/sshcontext_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Editing SSH Credential:" %}</h3>
<p><b>{{ sshcontext }}</b></p>

<form action="" method="post">{% csrf_token %}
    {% include "form.html" %}
    <p>
        <a href="{% url 'delete_ssh_context' sshcontext.pk %}">
            <button type="button">{% trans "Delete" %}</button>
        </a>
        <button type="submit">{% trans "Save" %}</button>
    </p>
</form>

{% endblock content %}
