{% extends "registration/base.html" %}

{% load i18n %}

{% block content_title %} {% trans "Account settings" %} {% endblock content_title %}

{% block content %}

{{ block.super }}
<p>{% trans "Are you completely sure you want to delete your user account?" %}</p>
<p>{% trans "This will delete all the information related to yourself." %}</p>
<p>{% trans "Please, note that this step <b>cannot be reverted</b>." %}</p>
<form action="" method="post">
    {% include "form.html" %}
    <p><button type="submit">{% trans "Confirm deletion" %}</button></p>
</form>

{% endblock content %}
