{% extends "registration/base.html" %}

{% load i18n %}

{% block content %}
{{ block.super }}
<p>{% trans "Please choose a password to finish the activation process." %}</p>
<form action="" method="post">{% csrf_token %}
    {% include "form.html" %}
    <p><button type="submit">{% trans "Activate" %}</button></p>
</form>
{% endblock %}
