{% extends "registration/base.html" %}

{% load i18n %}

{% block login_args %}{# None #}{% endblock %} {# Don't redirec to login after logging in. #}

{% block content %}

<form method="post" action="">{% csrf_token %}
    {% include "form.html" %}
    <p><button type="submit">{% trans "Log in" %}</button></p>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

<p class="smaller"><a href="{% url 'password_reset' %}">{% trans "Password reset" %}</a></p>

{% endblock content %}