{% extends "registration/base.html" %}

{% load i18n %}

{% block content %}
<p>{% trans "An email with reset instructions has been sent." %}</p>
<p>{% trans "You should receive it soon." %}</p>
{% endblock content %}
