{% extends "registration/base.html" %}

{% load i18n %}

{% block title %}{{ block.super }}{% trans "Password reset" %}{% endblock title %}
{% block description %}{{ block.super }}{% trans "password reset confirmation page." %}{% endblock description %}
{% block keywords %}{{ block.super }}{% trans "Password, Reset, User, Account, Confirmation." %}{% endblock keywords %}

{% block content %}

{% if validlink %}

<h2>{% trans "Enter new password" %}</h2>

<p>{% trans "Please enter your new password twice." %}</p>

<form action="" method="post">{% csrf_token %}
    {% include "form.html" %}
    <p><button type="submit">{% trans "Save" %}</button></p>
</form>

{% else %}

<h2>{% trans "Password reset unsuccessful" %}</h2>

<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

{% endif %}

{% endblock %}