{% extends "registration/base.html" %}

{% load i18n %}

{% block content_title %} {% trans "Account settings" %} {% endblock content_title %}

{% block content %}

<h3>{% trans "Change password" %}</h3>
<form method="post" action="{% url 'password_change' %}">{% csrf_token %}
    {% include "form.html" %}
    <p><button type="submit">{% trans "Save changes" %}</button></p>
</form>
<hr/>
<p><a href="{% url 'delete_account' %}"><button type="button">{% trans "Delete account" %}</button></a></p>

{% endblock content %}
