{% extends "registration/base.html" %}

{% load i18n %}

{% block content %}

<p>{% trans "Please specify your email address below. You will receive an email with further instructions." %}</p>
<form method="post" action="">{% csrf_token %}
    {% include "form.html" %}
    <p><button type="submit">{% trans "Submit" %}</button></p>
</form>

{% endblock content %}