{% extends "registration/base.html" %}

{% load i18n %}

{% block content %}

<p>{% trans "Please fill the following fields to proceed with the registration." %}</p>
<form action="" method="post">{% csrf_token %}
    {% include "form.html" %}
    <p><button type="submit">{% trans "Register" %}</button></p>
</form>

{% endblock content %}
