{% extends "registration/base.html" %}

{% load i18n %}

{% block content %}

<p>{% trans "Your registration has been successfully created and it's pending of approval" %}</p>
<p>{% trans "You will receive an acceptance or rejection email as soon as possible." %}</p>

{% endblock content%}
