
.left {
    float: left;
}

.right {
    float: right;
}

.smaller {
    font-size: 0.8em;
}

.tight {
    margin: 0.5em;
}

.indent {
    margin: 1em;
}

.wrap {
    word-wrap: break-word;
}

.normal-font {
    font-size: 1em;
    font-weight: normal;
    color: inherit;
}

body {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background-color: #F36126;
}

b {
    font-weight: bold;
}

p, dt, dd {
    margin: 1em;
}

a {
    color: inherit;
}
    a[href] {
        color: #1C94C4;
        text-decoration: none;
    }
        a[href]:hover {
            color: rgb(199, 116, 5);
        }

h1, h2, h3, h4, h5, h6 {
    color: #1C94C4;
}

h1 {
    font-size: 1.5em;
    margin: 1.5em 1em 1em 1em;
}
    h1.smaller {
        font-size: 1.3em;
    }

h2 {
    font-size: 1.3em;
    margin: 1em 0.5em 0.5em 0.5em;
}

h3 {
    font-size: 1.1em;
    margin: 1.5em 0.5em 0.5em 0.5em;
}

ul {
    margin: 1em;
}
    li {
        margin: 0.5em 0;
    }

dl {
    margin-bottom: 1em;
}
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: 1em;
        line-height: 1.2em;
    }

label {
    display: inline-block;
    padding: 0.15em;
}

hr {
    color: #1C94C4;
    opacity: 0.3;
}

input,
textarea,
select[multiple] {
    display: block;
    font: inherit;
    padding: 5px;
}
    input[type="radio"],
    input[type="checkbox"],
    select:not([multiple]) {
        display: inline-block;
        font: inherit;
    }
    select:not([multiple]) {
        min-width: 8em;
    }
    input[type="file"] {
        padding: 0;
    }
    textarea {
        /* For the autosize animation: */
        transition: height 0.2s;
    }

fieldset {
    display: inline-block;
    min-width: 35%;
    margin: 1em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
    legend {
        padding: 0 0.3em;
        margin: 0 0.2em;
    }

button.icon {
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    /* Force padding not to alter width: */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 3px 0 3px rgba(1, 1, 1, 0.5), -3px 0 3px rgba(1, 1, 1, 0.5);
    padding: 1em 2em;
    width: 80%;
    min-width: 600px;
    background-color: white;
}

header {
    position: relative;
    padding-bottom: 1em;
}

    .header-section {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-bottom: inherit;
        text-align: center;
        font-size: 0.85em;
    }

.horizontal > a,
.horizontal > li,
.horizontal > ul li,
.horizontal > p {
    display: inline-block;
}

.bar {
    padding-left: 0.5em;
    color: white;
    font-weight: bold;
    background: url(lib/jquery-ui/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png)
                repeat-x scroll 50% 50% rgb(246, 168, 40);
    border: 1px solid rgb(231, 143, 8);
    border-radius: 4px;
}
    .bar a {
        color: inherit;
    }
    .bar a:hover {
        color: rgb(199, 116, 5);
        background-color: rgb(253, 245, 206);
        border-color: rgb(251, 203, 9);
        border-radius: 4px;
    }

.nav-section, .nav-section a {
    display: inline-block;
}
    .nav-section a {
        margin: 0.2em 0.5em;
        padding: 0.15em;
    }
    .nav-section:not(:first-of-type) {
        margin-left: 2em;
    }

.messagelist {
    padding: 0.2em;
}
.messagelist:not(.single) {
    list-style: circle;
}
.messagelist li {
    margin: 0.5em 0.5em 0.5em 1.5em;
}

.main-block {
    margin-top: 20px;
}
.content-wrapper {
    color: #333333;
    padding: 0.2em;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
    .content-wrapper > nav {
        margin: -0.28em;
    }

.helptext {
    display: none;
}
.helptext-tooltip {
    display: block;
    max-width: 35%;
    font-size: 0.9em;
    font-weight: normal;
}

.mini-list {
    margin: 0;
}
    .mini-list li {
        margin: 0;
        margin-top: 0.5em;
        font-size: 0.8em;
    }
    /* Add separator */
    .mini-list li + li:before {
        content: '|';
        padding: 0 1em;
    }

.errorlist {
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 0 0 0.5em 0;
    min-width: 10em;
    max-width: 15em;
    /*max-width: 30em;*/
    color: #BE2E17;
    word-wrap: break-word;
    border: 1px solid #BE2E17;
    border-radius: 4px;
}
    /* Arrow (last-child -> only displayed for field errors) */
    .errorlist:last-child:after,
    .errorlist:last-child:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        border: solid transparent;
    }
        /* Inner: */
        .errorlist:last-child:after {
            left: 10px;
            border-bottom-color: #FFF0A5;
            border-width: 0 6px 12px 6px;
        }
        /* Border: */
        .errorlist:last-child:before {
            left: 9px;
            border-bottom-color: #BE2E17;
            border-width: 0 7px 13px 7px;
        }
    .errorlist li {
        color: inherit;
        margin: 0;
        padding: 0.5em;
        border: none;
    }
        .errorlist li .ui-icon {
            float: left;
        }

.boxed-list {
    display: table;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
    .boxed-list li {
        margin: 0;
        padding: 0.5em;
        line-height: 1.5;
    }
    .boxed-list li:not(:last-of-type) {
        border-bottom: 1px solid #CCCCCC;
    }

.bullet-list {
    list-style-type: disc;
    margin: 0 1em;
    padding: 0 1em;
}
    .bullet-list li {
        margin: 0.5em 1em;
    }

.progressbar {
    position: relative;
    width: auto;
    margin: 1em 20%;
}
    .progressbar .label {
        color: white;
        font-weight: bold;
        position: absolute;
        left: 40%;
        top: 0.5em;
        z-index: 2;
    }

.small-print {
    margin: -0.5em 1.5em 1.5em 1.5em;
    color: red;
    font-size: 0.7em;
    font-style: italic;
}

footer {
    margin-top: 40px;
    padding-left: 0.5em;
    font-size: 0.7em;
    text-align: center;
    border-radius: 4px;
}
    footer p {
        margin: 0.30em 0;
    }
    footer p + p:before {
        content: '|';
        padding: 0 1em;
    }

/* ---------------------- Library tweaks ---------------------*/

.ui-widget {
    font-size: 1em;
}
    .ui-widget.smaller {
        font-size: 0.8em;
    }

.ui-icon.left {
    margin-right: 0.5em;
}
.ui-icon.right {
    margin-left: 0.5em;
}

p.ui-state-highlight,
p.ui-state-error {
    display: inline-block;
    padding: 0.5em;
    border-radius: 4px;
}

.select2-container-multi {
    display: block;
}
.select2-container a:hover,
.select2-drop a:hover {
    color: inherit;
}
.select2-container li,
.select2-drop li {
    margin: 0;
}

.dataTables_wrapper input,
.dataTables_wrapper select {
    display: inline-block;
    padding: 0;
    min-width: 0;
}

/* (jquery.formset) */

.dynamic-form {
    border-bottom: 1px solid #CCCCCC;
}
     /* Buttons: */
    .add-row,
    .delete-row {
        display: block;
    }
        .add-row {
            margin: 0.3em;
        }
            .dynamic-form + .add-row {
                margin: 0.3em auto;
            }
        .delete-row {
            margin: 1em;
        }

