{% extends "saga_django/job_base.html" %}

{% load staticfiles compress i18n humanize %}

{% block content %}

{% if not job_list %}
<p>{% trans "None yet." %}</p>
{% else %}
<table id="jobs">
    <thead>
        <tr>
            <th>{% trans "Job" %}</th>
            <th>{% trans "Service" %}</th>
            <th>{% trans "Dispatched at" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Since" %}</th>
            <th>{% trans "Exit Code" %}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for job in job_list %}
        <tr>
            <td><a href="{% url 'detail_job_description' job.description.pk %}">{{ job.description }}</a></td>
            <td><a href="{% url 'detail_job_service' job.service.pk %}">{{ job.service }}</a></td>
            <td>{{ job.dispatch_time|default:_("Pending") }}</td>
            <td>{{ job.get_state_display|capfirst }}</td>
            <td>{{ job.last_state_change|naturaltime }}</td>
            <td>{{ job.exit_code|default:"—" }}</td>
            <td>
            {% if job.state != 'Canceled' %}
                {% if job.finished %}
                    <a href="{% url 'download_results' job.pk %}">{% trans "Download results" %}</a>
                {% else %}
                    <a href="{% url 'cancel_job' job.pk %}">{% trans "Cancel" %}</a>
                {% endif %}
            {% else %}
            &nbsp;
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<p><a href="{% url 'create_job' %}"><button type="button">{% trans "New" %}</button></a></p>

{% endblock content %}

{% if job_list %}

{% block extra_css %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/lib/dataTables/dataTables.jquery-ui.css' %}" charset="utf-8"/>
{% endcompress %}
{% endblock extra_css %}

{% block bottom_js %}
{{ block.super }}
{% compress js %}
<script src="{% static 'js/lib/jquery.dataTables.js' %}" charset="utf-8"></script>
<script src="{% static 'js/lib/dataTables.jquery-ui.js' %}" charset="utf-8"></script>
{% endcompress %}
{% compress js %}
<script src="{% static 'js/lib/jquery.cookie.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ajax/controller.js' %}" charset="utf-8"></script>
{% endcompress %}
{% compress js %}
<script src="{% static 'js/ui/job_table.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ajax/job_table_refresh.js' %}" charset="utf-8"></script>
{% endcompress %}
<script>
ajaxController.periodicallyRefreshJobTable(10000);
</script>
{% endblock bottom_js %}

{% endif %}
