{% extends "saga_django/job_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Canceling execution" %}</h3>

<p>
{% blocktrans with job=job.description service=job.service %}
    Please, confirm cancelation of remote job <b>{{ job }}</b> running at <b>{{ service  }}</b>.
{% endblocktrans %}
</p>
<form action="" method="post">{% csrf_token %}
   <button type="submit" class="indent">{% trans "Confirm" %}</button>
</form>

{% endblock content %}