{% extends "saga_django/jobdescription_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Deleting job" %}</h3>

<p>
{% blocktrans %}
    Please, confirm deletion of job <b>{{ jobdescription }}</b>.
{% endblocktrans %}
</p>
<form action="" method="post">{% csrf_token %}
   <button type="submit" class="indent">{% trans "Confirm" %}</button>
</form>

{% endblock content %}
