{% extends "saga_django/jobdescription_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Details" %}</h3>

<p><b>{% trans "Name:" %}</b> {{ jobdescription.name }}</p>
<p><b>{% trans "Executable:" %}</b> {{ jobdescription.executable }}</p>
<p><b>{% trans "Arguments:" %}</b> {{ jobdescription.arguments|default:_("Not specified") }}</p>
<p><b>{% trans "Working directory:" %}</b> {{ jobdescription.working_directory }}</p>
{% with jobdescription.environment_as_dict.items as environment %}
{% if not environment %}
    <p><b>{% trans "Environment:" %}</b> {% trans "Not specified" %}</p>
{% else %}
    <h4 class="normal-font indent" style="font-weight: bold;">{% trans "Environment:" %}</h4>
    <ul id="environment" class="bullet-list">
    {% for identifier, value in environment %}
        <li>{{ identifier }}={{ value }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<p><b>{% trans "Queue:" %}</b> {{ jobdescription.queue|default:_("Not specified") }}</p>
<p><b>{% trans "Project:" %}</b> {{ jobdescription.project|default:_("Not specified") }}</p>
<p><b>{% trans "Num. of nodes:" %}</b> {{ jobdescription.total_cpu_count }}</p>
<p><b>{% trans "Time limit:" %}</b> {{ jobdescription.wall_time_limit|default:_("Not limited") }}</p>

<p>
    <a href="{% url 'delete_job_description' jobdescription.pk %}">
        <button type="button">{% trans "Delete" %}</button>
    </a>
    <a href="{% url 'update_job_description' jobdescription.pk %}">
        <button type="button">{% trans "Edit" %}</button>
    </a>
</p>

{% endblock content %}
