{% extends "saga_django/jobdescription_base.html" %}

{% load staticfiles compress i18n %}

{% block content %}

<h3>{% trans "New job" %}</h3>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% include "form.html" %}
    <fieldset id="job_files">
       <legend>{% trans "Required files" %}</legend>
       {% include "formset.html" with formset=inlines.job_files %}
    </fieldset>
    <br/>
    <fieldset id="file_uploads">
       <legend>{% trans "File uploads" %}</legend>
       {% include "formset.html" with formset=inlines.file_uploads %}
    </fieldset>
    <br/>
    <fieldset id="file_downloads">
       <legend>{% trans "File downloads" %}</legend>
       {% include "formset.html" with formset=inlines.file_downloads %}
    </fieldset>
    <br/>
    <fieldset id="job_executions">
       <legend>{% trans "Executions" %}</legend>
       {% include "formset.html" with formset=inlines.job_executions %}
    </fieldset>
    <br/>
    <button type="submit" class="indent">{% trans "Create" %}</button>
</form>

{% endblock content %}

{% block bottom_js %}
{{ block.super }}
{% compress js %}
<script src="{% static 'js/lib/jquery.formset.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ui/formsets.js' %}" charset="utf-8"></script>
{% endcompress %}
<script>
jQuery(document).ready(function($) {
    ui.makeFormSetDynamic('{{ inlines.file_uploads.prefix }}');
    ui.makeFormSetDynamic('{{ inlines.file_downloads.prefix }}');
    ui.makeFormSetDynamic('{{ inlines.job_executions.prefix }}', true);
});
</script>
{% endblock bottom_js %}
