{% extends "saga_django/jobdescription_base.html" %}

{% load i18n %}

{% block content %}

{% if jobdescription_list %}
<ul class="boxed-list">
{% for jobdescription in jobdescription_list %}
    <li>
        <a href="{% url 'detail_job_description' jobdescription.pk %}" title="{% trans 'Detail' %}">
            {{ jobdescription }}
        </a>
        <a href="{% url 'delete_job_description' jobdescription.pk %}" title="{% trans 'Delete' %}">
            <span class="ui-icon ui-icon-trash right"></span>
        </a>
        <a href="{% url 'update_job_description' jobdescription.pk %}" title="{% trans 'Edit' %}">
            <span class="ui-icon ui-icon-pencil right"></span>
        </a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>{% trans "None yet." %}</p>
{% endif %}
<p><a href="{% url 'create_job_description' %}"><button type="button">{% trans "New" %}</button></a></p>

{% endblock content %}
