{% extends "saga_django/jobservice_base.html" %}

{% load i18n static compress %}

{% block content %}

<p>
{% blocktrans %}
Testing the job service <b>{{ jobservice }}</b>. This should take only a few seconds.
{% endblocktrans %}
</p>

<div class="progressbar"><span class="label"></span></div>

<noscript>
<a href=""><button type="button" class="indent">{% trans "Refresh" %}</button></a>
</noscript>

{% endblock content %}

{% block bottom_js %}
{{ block.super }}
{% compress js %}
<script src="{% static 'js/lib/jquery.cookie.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ajax/controller.js' %}" charset="utf-8"></script>
{% endcompress %}
{% compress js %}
<script src="{% static 'js/ui/jobservice_wait_test.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ajax/jobservice_wait_test.js' %}" charset="utf-8"></script>
{% endcompress %}
<script>
ajaxController.waitJobServiceTest("{% url 'wait_test_job_service' jobservice.pk task_id %}", 5000);
</script>
{% endblock bottom_js %}
