{% extends "saga_django/jobservice_base.html" %}

{% load i18n humanize %}

{% block content %}

<h3>{% trans "Details" %}</h3>

<p><b>{% trans "Type:" %}</b> {{ jobservice.get_scheme_display }}</p>
<p><b>{% trans "Host:" %}</b> {{ jobservice.host }}</p>
<p><b>{% trans "Port:" %}</b> {{ jobservice.port }}</p>
{% if not jobservice.contexts %}
<p><b>{% trans "Contexts:" %}</b> {% trans "None" %}</p>
{% else %}
<h4 class="normal-font indent" style="font-weight: bold;">{% trans "Contexts:" %}</h4>
<ul id="contexts" class="bullet-list">
{% for context in jobservice.contexts.select_subclasses %}
    <li>{{ context }}</li>
{% endfor %}
</ul>
{% endif %}

{% if not jobservice.works %}
<p class="ui-state-error">
{% blocktrans with last_attempt=jobservice.last_attempt|naturaltime %}
    There have been issues with this job service. <br/>
    The last failed attempt has been {{ last_attempt }}.
{% endblocktrans %}
</p>
{% endif %}

<p>
    <a href="{% url 'delete_job_service' jobservice.pk %}">
        <button type="button">{% trans "Delete" %}</button>
    </a>
    <a href="{% url 'update_job_service' jobservice.pk %}">
        <button type="button">{% trans "Edit" %}</button>
    </a>
</p>

{% endblock content %}
