{% extends "saga_django/jobservice_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Editing job service:" %}</h3>

<form action="" method="post">{% csrf_token %}
    {% include "form.html" %}
    <div class="indent">
        <a href="{% url 'delete_job_service' jobservice.pk %}">
            <button type="button">{% trans "Delete" %}</button>
        </a>
        <button type="submit">{% trans "Save" %}</button>
    </div>
</form>

{% endblock content %}
