{% extends "saga_django/jobservice_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "Deleting job service" %}</h3>

<p>
{% blocktrans %}
    Please, confirm deletion of job service <b>{{ jobservice }}</b>.
{% endblocktrans %}
</p>

{% if jobservice.executions.exists %}
    <p class="ui-state-highlight">
    {% blocktrans %}
        <b>Beware!</b> ...
    {% endblocktrans %}
    </p>
{% endif %}

<form action="" method="post">{% csrf_token %}
   <button type="submit" class="indent">{% trans "Confirm" %}</button>
</form>

{% endblock content %}
