{% extends "saga_django/jobservice_base.html" %}

{% load i18n %}

{% block content %}

<h3>{% trans "New job service" %}</h3>

<form action="" method="post">{% csrf_token %}
   {% include "form.html" %}
   <button type="submit" class="indent">{% trans "Create" %}</button>
</form>

{% endblock content %}
