{% extends "saga_django/jobservice_base.html" %}

{% load i18n %}

{% block content %}

{% if jobservice_list %}
<ul class="boxed-list">
{% for jobservice in jobservice_list %}
    <li>
        <span {% if not jobservice.works %} style="color: red;" {% endif %}>{{ jobservice }}</span>
        <a href="{% url 'delete_job_service' jobservice.pk %}" title="{% trans 'Delete' %}">
            <span class="ui-icon ui-icon-trash right"></span>
        </a>
        <a href="{% url 'update_job_service' jobservice.pk %}" title="{% trans 'Edit' %}">
            <span class="ui-icon ui-icon-pencil right"></span>
        </a>
    </li>
{% endfor %}
</ul>
<p class="small-print">* {% trans "Faulty job services." %}</p>
{% else %}
<p>{% trans "None yet." %}</p>
{% endif %}
<p><a href="{% url 'register_job_service' %}"><button type="button">{% trans "New" %}</button></a></p>

{% endblock content %}
