{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

<p><b>{{ sshcontext }}</b></p>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>
        <p><button type="submit">{% trans "Save" %}</button></p>
        <a href="{% url 'delete_ssh_context' sshcontext.pk %}">{% trans "Delete" %}</a>
    </p>
</form>

{% endblock content %}