{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

<p><b>{% trans "Alias" %}:</b> {{ sshcontext.alias }}<p>
<p><b>{% trans "User ID" %}:</b> {{ sshcontext.user_id }}<p>
<p><b>{% trans "Public key" %}:</b></br>  {{ sshcontext.public_key }}</p>
<p><b>{% trans "Fingerprint" %}:</b> {{ sshcontext.fingerprint }}</p>

<p>
    <a href="{% url 'delete_ssh_context' sshcontext.pk %}">{% trans "Delete" %}</a>
    <a href="{% url 'update_ssh_context' sshcontext.pk %}">{% trans "Edit" %}</a>
</p>

{% endblock content %}
