{% extends "saga_django/base.html" %}

{% load i18n %}

{% block content %}

{% if sshcontext_list %}
<ul>
{% for sshcontext in sshcontext_list %}
    <li>
        <a href="{{ sshcontext.get_absolute_url }}" title="{% trans 'Detail' %}">{{ sshcontext }}</a>
        <a href="{% url 'update_ssh_context' sshcontext.pk %}">{% trans "Edit" %}</a>
        <a href="{% url 'delete_ssh_context' sshcontext.pk %}">{% trans "Delete" %}</a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>{% trans "None yet." %}</p>
{% endif %}

{% endblock content %}
